.logo_container, .logo_container .App-header {
  background-color: #f2f2f2;
}
.logo_container h3 {
  margin: 0px;
}

.order_paragraph {
  padding: 2vw 10vw;
  margin: 0 auto;
  text-align: center;
}

.App .categ_container {
  padding: 100px;
  background-color: #f2f2f2;
}

.App .categ {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 65px;
}
.App .card {
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, box-shadow 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;

}

.App .card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 60px 0px;
  transform: translateY(-5px);

}
.categ a {
  text-decoration: none!important;
  color: #7e4134;
}

.categ a:hover {
  text-decoration: none!important;
  color: #28a745;
}
 @media (max-width: 576px) {
  .App .categ_container {
    padding: 100px 50px;
  }
 }
